/* static/style.css */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap");

:root {
    /* color */
    --white: #ffffff;
    --gray: #cccccc;
    --black: #000000;
    --background-color: #1D2543;
    --container-color: #2c3554;
    --input-color: #424860;
    --button-color: #60b663;

    /* typography */
    --ff-courier: 'Courier Prime', monospace;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--white);
}

p {
    color: var(--gray);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

input {
    font-family: var(--ff-courier);
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-family: var(--ff-courier);
    background-color: var(--button-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover,
button:active {
    opacity: 80%; 
}
